/* colors */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  background-color: #F7F8F9; }

/* imports */
.landing {
  background: linear-gradient(rgba(151, 61, 4, 0.6), rgba(151, 61, 4, 0.6)), url("../img/notebook.jpg");
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  /* passionate about... */ }
  .landing nav .navList {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-around; }
    .landing nav .navList li {
      color: white;
      margin-top: 20px;
      font-weight: 200;
      font-size: 1.2rem; }
    .landing nav .navList li:not(.title):hover {
      cursor: pointer; }
    .landing nav .navList li:nth-child(2) {
      font-family: "Cabin Sketch", cursive;
      font-size: 3rem;
      margin-top: 0; }
  @media screen and (max-width: 800px) {
    .landing nav .navList {
      width: 85%; }
      .landing nav .navList li:nth-child(2) {
        font-size: 2rem;
        margin-top: 10px; } }
  .landing div {
    height: 90%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto; }
    .landing div p {
      color: white;
      font-weight: 200;
      font-size: 3.5rem;
      margin: 15px 0 0;
      text-align: center; }
      .landing div p a {
        text-decoration: none;
        color: white;
        transition: 0.2s; }
      .landing div p a:hover,
      .landing div p a:active {
        color: #1B1B3A;
        transition: 0.2s; }
    .landing div p:nth-child(2) {
      margin-top: 30px; }
  @media screen and (max-width: 550px) {
    .landing div {
      width: 85%; }
      .landing div p {
        font-size: 3rem; } }

.about {
  background-color: #F7F8F9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh; }
  .about .aboutBox {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }
    .about .aboutBox .aboutImg {
      margin-top: 40px;
      width: 40%;
      min-width: 180px; }
      .about .aboutBox .aboutImg img {
        width: 100%; }
    .about .aboutBox .aboutText p {
      font-size: 3rem; }
    @media screen and (max-width: 600px) {
      .about .aboutBox .aboutText p {
        font-size: 2.2rem;
        text-align: center; } }
    .about .aboutBox .aboutText ul {
      list-style: none;
      padding-left: 60px; }
      .about .aboutBox .aboutText ul li {
        margin-bottom: 15px;
        font-size: 1.5rem; }
      @media screen and (max-width: 475px) {
        .about .aboutBox .aboutText ul li {
          font-size: 1.3rem; } }
    @media screen and (max-width: 750px) {
      .about .aboutBox .aboutText ul {
        padding-left: 0; } }
  @media screen and (max-width: 800px) {
    .about .aboutBox {
      width: 85%; } }

.work {
  background-color: #F7F8F9;
  margin-bottom: 100px; }
  .work p {
    text-align: center;
    font-size: 4rem; }
  @media screen and (max-width: 750px) {
    .work p {
      margin-bottom: 30px; } }
  .work .projects .galleryUl {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 0;
    padding-left: 0; }
    .work .projects .galleryUl .modal {
      width: 40%;
      min-width: 375px;
      margin: 0 50px 20px; }
      .work .projects .galleryUl .modal h2, .work .projects .galleryUl .modal p {
        text-align: center; }
      .work .projects .galleryUl .modal h2 {
        font-size: 2rem; }
      .work .projects .galleryUl .modal p {
        margin-bottom: 0;
        font-size: 1rem; }
      .work .projects .galleryUl .modal div {
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .work .projects .galleryUl .modal div .singleProject {
          max-width: 100%;
          cursor: pointer; }

.featherlight-content {
  max-height: 600px;
  max-width: 600px;
  background-color: #F7F8F9; }

.modalPop h2 {
  text-align: center; }
.modalPop p {
  width: 80%;
  margin: 5px auto;
  text-align: center; }
.modalPop .links a {
  display: inline-block;
  width: 49%;
  margin: 10px auto 0;
  color: #1B1B3A;
  font-weight: bolder;
  text-align: center;
  text-decoration: none; }
.modalPop .links a:hover {
  color: #EDD4B2;
  transition: 0.2s; }
.modalPop img {
  display: block;
  margin: 15px 20px 15px 40px;
  width: 500px;
  border: 1px solid #393E41; }

@media (max-width: 600px) {
  .gallery .galleryUl .modal h2 {
    font-size: 1.8rem; }
  .gallery .galleryUl .modal div {
    width: 70%;
    margin: 0 auto; }

  .featherlight-content {
    max-height: 400px;
    width: 90%; }

  .modalPop img {
    width: 300px; } }
.tech {
  background-color: #F7F8F9;
  margin-top: 100px; }
  .tech div {
    margin: 0 auto 50px; }
    .tech div p {
      font-size: 4rem;
      text-align: center;
      margin: 0 auto; }
  .tech .techStack {
    width: 60%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }
    .tech .techStack .techImgBox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 20%;
      min-width: 160px;
      margin-bottom: 25px; }
      .tech .techStack .techImgBox .techImg {
        align-self: center;
        max-width: 100px;
        max-height: 150px; }

.contact {
  background-color: #393E41; }
  .contact .contactIcons {
    padding: 30px 0;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .contact .contactIcons a {
      display: block;
      margin: 0 25px; }
      .contact .contactIcons a i {
        color: #F7F8F9;
        transition: 0.2s; }
      .contact .contactIcons a i:hover,
      .contact .contactIcons a i:active {
        color: #EDD4B2;
        transition: 0.2s; }

/*# sourceMappingURL=output.css.map */
