// about
.about {
	display: flex;
	flex-direction: column;
	color: $primary;

	.whoIAm {

		h1 {
			text-align: center;
			font-weight: 400;
			margin-top: 30px;
		}

		.aboutMe {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			margin-top: 60px;

			.aboutImg {
				img {
					height: 300px;
					width: auto;
					border-radius: 150px;
			  	-webkit-border-radius: 150px;
			  	-moz-border-radius: 150px;
					box-shadow: 4px 4px 14px 0px rgba(0,0,0,0.75);
				}
			}

			.tagInfo {
				width: 40%;
				margin-top: 30px;
				display: block;
				color: $primary;
				text-align: center;
				font-weight: lighter;
				font-size: 1.2em;
				line-height: 2;

				span {
					color: $secondary;
					font-size: 1.5rem;
					font-style: italic;
				}
			}
		}
	}

	.whatIDo {
		margin-top: 60px;
		margin-bottom: 30px;

		h1 {
			text-align: center;
			font-weight: 400;
			margin-bottom: 70px;
		}

		.aboutCols {

			display: flex;
			flex-direction: row;
			justify-content: space-around;

			.aboutCol {
				width: 30%;
				margin: 0 auto;

				h3 {
					text-align: center;
					font-size: 1.5rem;
					font-weight: lighter;
					padding-bottom: 10px;
					color: $secondary;
					// border-bottom: 1px solid $primary;
				}

				p {
					text-align: justify;
					line-height: 25px;
					margin: 20px auto 0;
					font-size: 1.1rem;
					width: 90%;
				}

				#pingPong {
					margin-top: 50px;
					font-size: 3rem;
					text-align: center;
				}
			}
		}
	}
}

@media (max-width: 600px) {
	.about {

		.whoIAm {

			.aboutMe {
				flex-direction: column;
				margin-top: 20px;

				.aboutImg {
					width: 180px;
					margin: 0 auto;

					img {
						height: 180px;
					}
				}

				.tagInfo {
					width: 80%;
					margin: 20px auto;
					text-align: left;

					span {
						display: block;
						text-align: center;
					}
				}
			}
		}

		.whatIDo {
			margin-top: 30px;

			h1 {
				margin-bottom: 35px;
			}

			.aboutCols {
				flex-direction: column;

				.aboutCol {
					width: 80%;

					p {
						margin-bottom: 30px;
					}
				}
			}
		}
	}
}
