.about
	background-color: $white
	display: flex
	flex-direction: column
	justify-content: center
	min-height: 100vh

	.aboutBox
		width: 60%
		margin: 0 auto
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: space-around

		.aboutImg
			margin-top: 40px
			width: 40%
			min-width: 180px

			img
				width: 100%
				// border-radius: 50%
				// border: 1px solid #1d262b



		.aboutText

			p
				font-size: 3rem

			@media screen and (max-width: 600px)
				p
					font-size: 2.2rem
					text-align: center

			ul
				list-style: none
				padding-left: 60px

				li
					margin-bottom: 15px
					font-size: 1.5rem

				@media screen and (max-width: 475px)
					li
						font-size: 1.3rem

			@media screen and (max-width: 750px)
				ul
					padding-left: 0 


	@media screen and (max-width: 800px)
		.aboutBox
			width: 85%
